USE [master]
GO
/****** Object:  Database [BIKE_DATA]    Script Date: 19/11/2024 11:28:33 ******/
CREATE DATABASE [BIKE_DATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIKE_DATA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BIKE_DATA.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BIKE_DATA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BIKE_DATA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIKE_DATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIKE_DATA]
GO
/****** Object:  Table [dbo].[bike_share_yr_0]    Script Date: 19/11/2024 11:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bike_share_yr_0](
	[dteday] [datetime2](7) NOT NULL,
	[season] [nvarchar](50) NOT NULL,
	[yr] [nvarchar](50) NOT NULL,
	[mnth] [nvarchar](50) NOT NULL,
	[hr] [nvarchar](50) NOT NULL,
	[holiday] [nvarchar](50) NOT NULL,
	[weekday] [nvarchar](50) NOT NULL,
	[workingday] [nvarchar](50) NOT NULL,
	[weathersit] [nvarchar](50) NOT NULL,
	[temp] [float] NOT NULL,
	[atemp] [float] NOT NULL,
	[hum] [nvarchar](50) NOT NULL,
	[windspeed] [nvarchar](50) NOT NULL,
	[rider_type] [nvarchar](50) NOT NULL,
	[riders] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bike_share_yr_1]    Script Date: 19/11/2024 11:28:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bike_share_yr_1](
	[dteday] [datetime2](7) NOT NULL,
	[season] [nvarchar](50) NOT NULL,
	[yr] [nvarchar](50) NOT NULL,
	[mnth] [nvarchar](50) NOT NULL,
	[hr] [nvarchar](50) NOT NULL,
	[holiday] [nvarchar](50) NOT NULL,
	[weekday] [nvarchar](50) NOT NULL,
	[workingday] [nvarchar](50) NOT NULL,
	[weathersit] [nvarchar](50) NOT NULL,
	[temp] [float] NOT NULL,
	[atemp] [float] NOT NULL,
	[hum] [float] NOT NULL,
	[windspeed] [nvarchar](50) NOT NULL,
	[rider_type] [nvarchar](50) NOT NULL,
	[riders] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cost_table]    Script Date: 19/11/2024 11:28:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cost_table](
	[yr] [nvarchar](50) NOT NULL,
	[price] [float] NOT NULL,
	[COGS] [float] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
